* {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.logo {
  width: 150px;
}
.logo__nav {
  display: flex;
  justify-content: space-between;
}
.menu {
  width: 30px;
  height: 30px;
}
header {
  padding: 25px 0;
}
.action-btn {
  display: none;
}
nav {
  display: none;
}
.text-center {
  text-align: center;
}
.title {
  font-size: 3rem;
  font-weight: bold;
}
.hero-text {
  margin: 60px 0 20px 0px;
}
.text-btn {
  border: none;
  color: #0c1825;
  background-color: white;
  border-radius: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px auto;
  display: flex;
  align-items: center;
}
.light-btn {
  background-color: #fff; /* Green */
  border: none;
  color: #0c1825;
  border: 1px grey solid;
  border-radius: 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px auto;
  display: flex;
  align-items: center;
}
.dark-btn {
  background-color: #0c1825; /* Green */
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  margin: 5px auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.btn-img {
  margin: 0 5px;
}
.mb {
  margin-bottom: 30px;
}
p {
  font-size: 1.2rem;
}
.sub-text {
  font-weight: lighter;
  margin: 10px 0;
}
.images {
  position: relative;
  width: 80%;
  height: 400px;
  margin: 80px auto;
}
.rect {
  position: absolute;
  top: 0;
  width: 100%;
  left: 30px;
}
.girl {
  position: absolute;
  top: 30px;
  width: 100%;
}
.card1 {
  position: absolute;
  width: 100%;
  top: 50px;
  left: -70px;
}
.card2 {
  position: absolute;
  bottom: 20px;
  right: -60px;
  width: 100%;
}
.download {
  text-align: "center";
}
.security-text h4 {
  font-size: 28px;
  line-height: 36px;
  font-family: U8-Bold !important;
  font-weight: 700;
  color: #0c1825;
  margin-bottom: 15px;
}
.security-text p {
  color: #0c1825;
  font-size: 1rem;
  margin-bottom: 15px;
}
.security-text {
  text-align: center;
}
.security-text a {
  text-decoration: none;
  color: #0d60d8;
  font-size: 1rem;
}
.security {
  display: block;
  margin-bottom: 10rem;
}
.security-img > img {
  width: 20%;
}
.security-img {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}
.hero {
  margin-bottom: 150px;
}
.start-saving h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.start-saving p {
  margin-bottom: 2.5rem;
  display: flex;
}
.start-saving a {
  text-decoration: none;
  width: 50%;
}
.start-saving {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 70px !important;
}
.start {
  display: block;
}
.bank {
  background-color: #f9f9f9;
  margin-bottom: 50px !important;
  border-radius: 15px;
  width: 65%;
  padding: 30px 30px;
  margin: 0 auto;
}
.bank h5 {
  text-align: center;
  margin-bottom: 18px;
  font-size: 1.3rem;
}
.bank p {
  text-align: center;
  margin-bottom: 3rem;
}
.links {
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
}
.bank-img {
  display: flex;
  justify-content: center;
}
.bank a > img {
  width: 15%;
  margin-bottom: 25px;
}
.investment {
  display: block;
  margin-bottom: 5rem;
}
.invest-img>img {
  width: 256px;
}
.invest-img {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}
.invest {
  width: 90%;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}
.invest-tag {
  display: flex;
  justify-content: center;
  background-color: #f7f0ff;
  margin-bottom: 30px;
  color: #7913e5;
  border-radius: 10px;
  padding: 6px 22px;
  border-radius: 40px;
  font-weight: 700!important;
}
.invest h2 {
  font-size:29px!important;
  line-height: 35px;
  margin-bottom: 30px;
}
.invest-p {
  font-size: 17px!important;
  color: #353535;
  line-height: 27.2px;
  margin-bottom: 30px;
}
.invest a {
  color: #7913e5;
  font-weight: 500!important;
  font-size: 18px;
  text-decoration: none;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .download {
    display: flex;
    /* width: 85%; */
    margin: 0 auto;
  }
  .rect {
    position: absolute;
    top: 0;
    width: 100%;
    left: 30px;
  }
  .girl {
    position: absolute;
    top: 30px;
    width: 100%;
  }
  .card1 {
    position: absolute;
    width: 100%;
    top: 50px;
    left: -70px;
  }
  .card2 {
    position: absolute;
    bottom: 20px;
    right: -60px;
    width: 100%;
  }
  .images {
    position: relative;
    width: 70%;
    height: 500px;
    margin: 80px auto;
  }
  .invest-tag {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .invest h2 {
    font-size: 5rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .images {
    position: relative;
    width: 70%;
    height: 500px;
    margin: 80px auto;
  }
  .rect {
    position: absolute;
    top: 0;
    width: 80%;
    left: 30px;
  }
  .girl {
    position: absolute;
    top: 30px;
    width: 80%;
  }
  .card1 {
    position: absolute;
    width: 70%;
    top: 50px;
    left: -70px;
  }
  .card2 {
    position: absolute;
    bottom: -0px;
    right: -60px;
    width: 70%;
  }
  .download {
    display: flex;
    width: 70%;
    margin: 0 auto;
  }
  .bank {
    width: 100%;
  }
  .saving-types {
    display: grid;
    grid-template-columns: 320px 320px;
    gap: 1rem;
  
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    width: 90%;
  }

  .hero {
    margin-bottom: 0px;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    justify-items: space-between;
  }
  .hero-title {
    width: 50%;
  }

  .card2 {
    position: absolute;
    bottom: -0px;
    right: -60px;
    width: 70%;
  }
  .download {
    width: 100%;
  }
  .title {
    font-size: 50px;
  }
  .light-btn {
    padding: 12px 20px;
    font-size: 14px;
    margin: 10px auto;
  }
  .images {
    width: 40%;
    margin: 80px 0;
  }
  .security-img > img {
    width: 10%;
  }
  .start-saving {
    width: 100%;
    padding: 30px 0px;
  }
  .savings {
    display: grid;
    grid-template-columns: 300px 300px 300px;
  }
}
@media only screen and (min-width: 1200px){
  .hero {
    display: flex;
    justify-content: center;
  }
  .menu {
    display: none;
  }
  header {
    display: flex;
    justify-content: space-between;
  }
  nav {
    display: block;
  }
  nav ul {
    display: flex;
  }
  .images {
    width: 30%;
  }
  .action-btn {
    display: flex;
  }
  .logo-btn {
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
  }
  .light-btn {
    padding: 12px 20px;
    font-size: 14px;
    margin: 10px;
  }
  .dark-btn {
    padding: 12px 20px;
    font-size: 14px;
    margin: 10px;
  }
  .security {
    display: flex;
  }
  .security-img > img {
    width: 25%;
  }
  .security-text {
    text-align: left;
  }
  .start-saving {
    width: 100%;
  }
  .start-saving h3 {
    text-align: left;
  }
  .start-saving p {
    text-align: left;
  }
  .savings {
    display: grid;
    grid-template-columns: 450px 450px 450px;
  }
}